<ion-header>
  <ion-toolbar color="primary">
    <ion-title>albums</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let album of albums" detail (click)="openSongsPage(album.id)">
      <ion-label>{{album.title}}</ion-label>    
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color = "danger" routerLink="/create-album">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>